* { margin: 0; padding: 0; }
body { background: #f8f8f8; }

pre {
  overflow: auto;
  color: #393939;
  background-color: #FAFAFB;
  border: 1px solid #CACACA;
  line-height: 1.2em;
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  padding: 10px;
  margin: 0px;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box;
}

pre code { white-space: pre; }

#main {
  width: 580px;
  margin: 0 auto;
  background: white;
  height: 240px;
  border: 1px solid #E9E9E9;
  padding: 15px;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
